body{margin:0;padding:0;background:#fff;
	font-size:14px;
	font-family:Arial,Helvetica,'STHeiti','Microsoft YaHei','sans-serif'}
form,ul,li,p,h1,h2,h3,h4,h5,h6{margin:0;padding:0;}
img{border:0;}
ul,li{list-style-type:none;}
a{color:#00007F;text-decoration:none;}
a:hover{text-decoration:none;}
    .swiper-container {
        width: 100%;
        height: 100%;
    }
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        /*background: #fff;*/

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }
#div1{
	background-color: rgb(54,58,65);
}
#header{
	width:1000px;
	margin: 0 auto;
	position: relative;
}
.img1{
	margin-top: 20px;
}
.nav{
	position: absolute;
	right:0;
	top:0;
	color:white;
	font-size: 20px;
	margin-top: 30px;
}
#swiper_1 p{
	margin-top:10px;
	text-align: left;
	margin-left: 50px;
}
#s_btn,#s_btn1{
	background: gray;
	opacity: 0.6;
	padding:6px;
	font-size: 16px;
	margin-top: 20px;
	margin-left: -120px;
	border-radius: 5px;
	cursor: pointer;
	color:white;
}
#s_btn:hover{
	opacity: 1;
}

span{
	display: inline-block;
	padding: 10px 0px;
	width:100px;
	text-align: center;
	border-radius: 5px;
	cursor: pointer;
}
span:hover{
	background-color: black;
	color:gray;
}
.content{
	margin-top: 20px;
	height:370px;
	width:100%;
	background-image: url(../resource/img/header-background.jpg);
}

.div2,.div3{
	margin-top: 20px;
	margin-left: 8px
}
#div_wechat1,#div_wechat2,#div_wechat3{
	width:32%;
	border:1px solid gray;
	color:white;
	text-align: center;
	font-size: 20px;
	cursor: pointer;
	display: inline-block;
	margin-right: 8px;
}
#div_wechat1 img,#div_wechat2 img,#div_wechat3 img{
	width:100%;
	height:175px;
}
.div_wechat1{
	padding:10px;
}
.div_link{
	width:32%;
	cursor: pointer;
	font-size: 16px;
	display: inline-block;
	margin-right: 8px;
}
.div_link a{
	display: block;
	color:white;
	line-height: 25px;
}
.div_link a:hover{
	color:gray;
}
#btn{
	color: white;
	padding:10px 20px;
	border:1px solid gray;
	border-radius: 5px;
	background: rgb(54,58,65);
	font-size: 18px;
	margin-top: 30px;
	margin-bottom: 50px;
	text-align: center;
	cursor: pointer;
}
#div2{
	background-color:rgb(43,45,54);
	margin:0;
	padding:0;
}
.footer{
	width:1000px;
	margin: 0 auto;
	color:white;
}
.footer1{
	width:24%;
	display:inline-block;
	margin-right: 5px; 
}
.footer h2{
	line-height: 60px;
}
.item{
	border:1px solid white;
	width:75%;
	height:2px;
	margin-bottom: 10px;
}
.item1{
	width:10%;
	border:1px solid white;
}
.footer1 a{
	line-height: 25px;
	display: block;
	color:white;
}
.footer1 a:hover{
	color:gray;
}
.footer2{
	padding:50px 0;
}
.footer2 p{
	display: inline;
	float: right;
	margin-top: 25px;
}
.footer img{
	margin-right: 30px;
	cursor: pointer;
}